<%= simple_form_for([@post, @comment]) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :content,
        input_html: {class: "textarea"},
        wrapper: false,
        autofocus: true,
        label: false
      %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-info" %>
<% end %>
