/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "font-awesome";

body { 
    min-height: 100vh; 
    background: aliceblue;
}
.post-bottom {
    .user-name, .comment-content {
      display: inline;
    }
    .caption {
      margin-bottom: 7px;
    }
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
      color: #125688;
      font-size: 15px;
    }
    .user-name, .caption-content {
      display: inline;
    }
    #comment {
      margin-top: 7px;
      .user-name {
        font-weight: 500;
        margin-right: 0.3em;
      }
      .delete-comment {
        float: right;
        color: #515151;
      }
    }
    margin-bottom: 7px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
}
.comment_content {
    font-size: 15px;
    line-height: 18px;
    border: medium none;
    width: 100%;
    color: #4B4F54;
}

.panel {
    background: white;
}

.panel-heading {
    background: #3298dc;
    color: white;
}

.column {
    margin: 0 auto;
}

.navbar-brand .title {
    color: white;
}

.image {
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
}

.notification:not(:last-child) {
    margin-bottom: 0;
}